In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# series的运算

In [3]:
s1 = Series([1, 2, 3], index=['A', 'B', 'C'])
s1

A    1
B    2
C    3
dtype: int64

In [4]:
s2 = Series([4, 5, 6, 7], index=['B', 'C', 'D', 'F'])
s2

B    4
C    5
D    6
F    7
dtype: int64

In [5]:
s1 + s2

A    NaN
B    6.0
C    8.0
D    NaN
F    NaN
dtype: float64

In [6]:
# DataFrame 运算

In [7]:
df1 = DataFrame(np.arange(4).reshape(2, 2), index=['A', 'B'], columns=['BJ', 'SH'])
df1

   BJ  SH
A   0   1
B   2   3

In [8]:
df2 = DataFrame(np.arange(9).reshape(3, 3), index=['A', 'B', 'C'], columns=['BJ', 'SH', 'GZ'])
df2

   BJ  SH  GZ
A   0   1   2
B   3   4   5
C   6   7   8

In [9]:
df1+df2

    BJ  GZ   SH
A  0.0 NaN  2.0
B  5.0 NaN  7.0
C  NaN NaN  NaN

In [10]:
df3 = DataFrame([[1, 2, 3], [4, 5, np.nan], [7, 8, 9]], index=['A', 'B', 'C'], columns=['c1', 'c2', 'c3'])
df3

   c1  c2   c3
A   1   2  3.0
B   4   5  NaN
C   7   8  9.0

In [11]:
# 求和  列
df3.sum()

c1    12.0
c2    15.0
c3    12.0
dtype: float64

In [12]:
# 求和  行
df3.sum(axis=1)

A     6.0
B     9.0
C    24.0
dtype: float64

In [13]:
# 最小值 列
df3.min()

c1    1.0
c2    2.0
c3    3.0
dtype: float64

In [15]:
# 最小值 行
df3.min(axis=1)

A    1.0
B    4.0
C    7.0
dtype: float64

In [16]:
# 求最大
df3.max()

c1    7.0
c2    8.0
c3    9.0
dtype: float64

In [17]:
# 常用的计算结果
df3.describe()

        c1   c2        c3
count  3.0  3.0  2.000000
mean   4.0  5.0  6.000000
std    3.0  3.0  4.242641
min    1.0  2.0  3.000000
25%    2.5  3.5  4.500000
50%    4.0  5.0  6.000000
75%    5.5  6.5  7.500000
max    7.0  8.0  9.000000

## 排序

### series排序

In [20]:
s1 = Series(np.random.randn(10))
s1

0    1.805529
1    0.113664
2    0.151884
3   -0.143172
4   -1.687699
5   -0.890884
6    0.330123
7    1.166879
8    1.147473
9    0.102696
dtype: float64

In [21]:
s1.values

array([ 1.80552888,  0.11366371,  0.15188389, -0.1431724 , -1.6876986 ,
       -0.89088397,  0.33012256,  1.16687917,  1.14747279,  0.10269619])

In [22]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [24]:
s2 = s1.sort_values()