In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [7]:
# create a dataframe
df1 = DataFrame({"城市":["北京", "上海", "广东"], "人口":[1000, 2000, 1500]})
df1

   城市    人口
0  北京  1000
1  上海  2000
2  广东  1500

In [8]:
# 添加一列
df1['GDP'] = Series([1000, 2000, 1500])
df1

   城市    人口   GDP
0  北京  1000  1000
1  上海  2000  2000
2  广东  1500  1500

### 使用map函数添加

In [9]:
# 无需考虑index的顺序
df2 = DataFrame({"城市":["北京", "上海", "广东"], "人口":[1000, 2000, 1500]})
df2

   城市    人口
0  北京  1000
1  上海  2000
2  广东  1500

In [12]:
gdp_map = {'北京':1000, '上海':2000, '广东':1500}
df2['GDP'] = df2['城市'].map(gdp_map)
df2

   城市    人口   GDP
0  北京  1000  1000
1  上海  2000  2000
2  广东  1500  1500

### replace in series

In [14]:
s1 = Series(np.arange(10))
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [15]:
s1.replace(1, np.nan)

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [16]:
# 替换多个元素
s1.replace([1, 2, 3], [30, 20, 10])

0     0
1    30
2    20
3    10
4     4
5     5
6     6
7     7
8     8
9     9
dtype: int64